nav:not(.qw-nav) .anchor {
  transition: opacity 0.2s ease-in-out;
  @media (hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }

  &-internal {
    text-decoration: 1px underline dashed;
    text-underline-offset: 0.35em;
    @media (hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
