@use "../abstracts/" as *;
.studio-watermark {
  $hover-animation: 0.25s linear;
  background-color: #331812;
  color: var(--color-light);
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.33rem;
  transition: color $hover-animation;
  padding: 1rem;
  margin-bottom: 1rem;
  @include mdMinBreakPoint {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
  }
  @include xlMinBreakPoint {
    margin-bottom: clamp(32px, 2.5vw, 48px);
  }
  &__logo {
    background-color: inherit;
    & path {
      transition: fill $hover-animation;
      fill: #faf6f0;
    }
    height: 0.75rem;
  }
  @media (hover: hover) {
    &:hover {
      color: var(--color-accident);
      .studio-watermark__logo path {
        fill: var(--color-accident);
      }
    }
  }
}
