@use "../abstracts/" as *;
.studio-watermark {
  background-color: #331812;
  color: #faf6f0;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.33rem;
  transition: opacity 0.35s linear;
  padding: 1rem;
  @include mdMinBreakPoint {
    padding: 0.5rem;
  }
  @include xlMinBreakPoint {
    margin-bottom: clamp(32px, 2.5vw, 48px);
  }
  &__logo {
    background-color: inherit;
    & path {
      fill: #faf6f0;
    }
    height: 0.75rem;
  }
  &:hover {
    opacity: 0.7;
  }
}
