@mixin container($max-width, $padding-x) {
  width: min($max-width, 100% - ($padding-x * 2));
  margin: 0 auto;
  min-width: calc(360px - ($padding-x * 2));
  height: 100%;
}
@mixin grid-columns($columns-count) {
  grid-template-columns: repeat($columns-count, minmax(0, 1fr));
}

@mixin css-slider($max-breaking-point) {
  @media (max-width: $max-breaking-point) {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    // Hide scrollbar
    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // Edge
    &::-webkit-scrollbar {
      display: none; // Chrome, Edge, Opera, Safari, and other WebKit-based browsers
    }
    & > * {
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
  }
}

@mixin customMinBreakPoint($width) {
  @media (min-width: $width) {
    @content;
  }
}
// 480px
@mixin smMinBreakPoint {
  @media screen and (min-width: 30em) {
    @content;
  }
}
// 720px
@mixin mdMinBreakPoint {
  @media screen and (min-width: 45em) {
    @content;
  }
}
@mixin mdMaxBreakPoint {
  @media screen and (max-width: 45em) {
    @content;
  }
}
// 960px
@mixin lgMinBreakPoint {
  @media screen and (min-width: 60em) {
    @content;
  }
}
@mixin lgMaxBreakPoint {
  @media screen and (max-width: 60em) {
    @content;
  }
}
// 1280px
@mixin xlMinBreakPoint {
  @media screen and (min-width: 80em) {
    @content;
  }
}
@mixin xlMaxBreakPoint {
  @media screen and (max-width: 80em) {
    @content;
  }
}
// 1600px
@mixin xxlMinBreakPoint {
  @media screen and (min-width: 100em) {
    @content;
  }
}
@mixin xxlMaxBreakPoint {
  @media screen and (max-width: 100em) {
    @content;
  }
}
