@use "../abstracts/" as *;
.delivery {
  &__heading {
    margin-bottom: 1rem;
    font-size: clamp(3rem, 13vw, 6rem);
    @include mdMinBreakPoint {
      margin-bottom: 2rem;
    }
  }
  &__options {
    display: flex;
    column-gap: clamp(54px, 5vw, 84px);
    font-size: clamp(24px, 6.5vw, 48px);
    padding: {
      left: var(--page-container-padding-x);
      right: var(--page-container-padding-x);
    }

    width: fit-content;
    margin: 0 auto 56px;

    @media (min-width: 52em) {
      margin: 0 auto 96px;
      font-style: normal;
    }

    @include xxlMinBreakPoint {
      margin-bottom: 127px;
    }

    & li {
      min-width: max-content;
      &:not(:first-of-type) {
        position: relative;
        &::before {
          --mark-size-ratio: 1;
          content: "";
          clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
          width: calc(10px * var(--mark-size-ratio));
          height: calc(8px * var(--mark-size-ratio));
          position: absolute;
          top: 47.5%;
          left: 0;
          transform: translate(
            calc(-30px * calc(var(--mark-size-ratio))),
            -50%
          );
          background-color: rgba(109, 31, 9, 1);
          @include lgMinBreakPoint {
            --mark-size-ratio: 1.2;
          }
          @include xlMinBreakPoint {
            --mark-size-ratio: 1.4;
          }
          @include xxlMinBreakPoint {
            --mark-size-ratio: 1.6;
          }
          @media (min-width: 100em) {
            --mark-size-ratio: 2;
            transform: translate(-50px, -50%);
          }
        }
      }
    }
  }
  &__about {
    font-size: calc(1vw / 16.6);
    padding-left: 0;
    display: grid;
    @include container(1660px, var(--page-container-padding-x));
    row-gap: 40px;
    @include mdMinBreakPoint {
      row-gap: 48px;
      column-gap: 20px;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
    @include xlMinBreakPoint {
      grid-template-columns: repeat(5, minmax(190px, 1fr));

      column-gap: 32px;
    }
    &__img {
      margin-bottom: 8px;
      @include mdMinBreakPoint {
        height: 70px;
      }
      @include xlMinBreakPoint {
        &#payment {
          padding-top: 6em;
        }
        height: clamp(75px, 75em, 85px);
      }
    }
    &__p {
      font-size: clamp(18px, 20em, 20px);
      margin-top: 0.5rem;
    }
  }
}
