@use "../abstracts/" as *;
.entry {
  $heading-fadeOut-duration: 4s;
  margin-top: var(--page-container-padding-x);
  & .company__logo {
    width: 96px;
    @include mdMinBreakPoint {
      width: 104px;
    }
    @include xlMinBreakPoint {
      width: 114px;
    }
    @include xxlMinBreakPoint {
      width: 100%;
    }
  }
  @include mdMinBreakPoint {
    margin-bottom: 80px;
  }
  @include xxlMinBreakPoint {
    margin-bottom: 96px;
  }
  &__wrapper {
    position: relative;
  }
  &-header,
  &-heading {
    padding: var(--page-container-padding-x);
  }
  &-header {
    position: absolute;
    top: 0;
    z-index: 1;
  }
  &-background {
    position: relative;
    &--video {
      display: none;
    }
    &--img {
    }
    @include customMinBreakPoint(60em) {
      &--video {
        display: block;
      }
      &--img {
        display: none;
      }
    }
  }
  &-heading {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: clamp(56px, 15vw, 80px);
    text-transform: uppercase;
    width: 100%;
    @include xlMaxBreakPoint {
      .text-break-point::before {
        white-space: pre;
      }
    }
    @include mdMinBreakPoint {
      padding: 24px;
      bottom: 0;
      transform: translate(-50%, 0);
    }
    @include xlMinBreakPoint {
      font-size: clamp(80px, 6.85vw, 130px);
    }
  }

  & .phone {
    column-gap: 0.8rem;
    &-number {
      font-style: normal;
      font-size: 1.5rem;
      @include mdMinBreakPoint {
        font-size: 2rem;
        font-style: italic;
      }
    }
    &-label {
      display: none;
      @include mdMinBreakPoint {
        line-height: 1.15;
        font-size: 0.875rem;
        display: inline;
      }
    }
  }
}
