@use "../abstracts" as *;

.container {
  @include container(1920px, var(--page-container-padding-x));
}

.main {
  margin-bottom: 80px;
  @include xlMinBreakPoint {
    margin-bottom: clamp(80px, 6.25vw, 120px);
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.w-100 {
  width: 100%;
}
.br-4 {
  border-radius: 4px;
}
.margin-section {
  margin-bottom: 80px;
  @include mdMinBreakPoint {
    margin-bottom: 104px;
  }
  @include xlMinBreakPoint {
    margin-bottom: clamp(104px, 8.5vw, 160px);
  }
}
.translateY-centred {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
